<div class="center-content-main">
  <div class="center-content-child">
    <h1>ROCK – PAPER – SCISSORS</h1>
    <p class="game-description">Rock Paper Scissors is a zero sum game that is usually played by two people using their
      hands and no tools. The idea is to make shapes with an outstretched hand where each shape will have a certain
      degree of power and will lead to an outcome.</p>
    <h2>SELECT YOUR BET</h2>
    <div class="bet-options">
      <% @bet_options.each do |option| %>
        <%= render 'option', { option: } %>
      <% end %>
    </div>
  </div>
</div>

<%#= @bet_options %>
